@keyframes h5p-agamotto-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.h5p-agamotto {
	--color-border-spinner: #999999 transparent transparent transparent;
	--color-focus-visible: #179fff;
	--color-slider-background: #282836;
	--color-slider-track: #1b1a1d;
	--color-slider: #fefdff;

	background: var(--h5p-theme-ui-base, transparent);
	color: var(--h5p-theme-text-primary, #ffffff);
	width: auto;
	margin: 0 auto;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

  .h5p-agamotto-slider-container {

    .h5p-agamotto-slider-track {
			cursor: pointer;
			height: 4px;
			background-color: var(--color-slider-track);
			bottom: 16px;
			left: 16px;
			position: absolute;
			z-index: 1;
		}

    .h5p-agamotto-slider-track.h5p-agamotto-disabled {
			cursor: default;
		}

    .h5p-agamotto-slider-thumb {
			position: absolute;
			z-index: 3;
			bottom: 8px;
			left: var(--h5p-agamotto-slider-thumb-position, 8px);
			cursor: pointer;
			width: 16px;
			height: 16px;
			text-shadow: 0 0 2px #666;
			outline: none;
			border: solid 4px var(--color-slider-background);
			background: var(--h5p-theme-contrast-cta-white);
			border-radius: 20px;
			&:focus {
				outline: 2px solid var(--color-focus-visible);
				outline-offset: 4px;
			}
		}

    .h5p-agamotto-slider-button {
			background-color: transparent;
			background-size: cover;
			border: none;
			bottom: 0;
			cursor: pointer;
			height: 20px;
			margin: 8px;
			position: absolute;
			width: 20px;
			&:focus {
				outline: 2px solid #179fff;
				outline-offset: 4px;
			}

			&::before {
				color: var(--color-slider);
				font-family: "h5p-theme";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 18px;
			}

			&.h5p-agamotto-slider-audio-muted::before {
				content: "\e941";
			}

			&.h5p-agamotto-slider-audio-unmuted::before {
				content: "\e942";
			}

			&.h5p-agamotto-slider-fullscreen {
				right: 0;
			}

			&.h5p-agamotto-button-none {
				display: none;
			}
		}

    .h5p-agamotto-slider-thumb.h5p-agamotto-disabled {
			cursor: default;
		}

    .h5p-agamotto-tick {
			position: absolute;
			bottom: 25px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			background: #ffffff;
			z-index: 2;
			&:hover {
				background: #e6e6e6;
			}
		}

    .h5p-agamotto-tick-label {
			position: absolute;
			font-size: .8em;
			top: 2px;
			color: var(--color-slider);
			z-index: 2;
		}
	}

  .h5p-agamotto-wrapper {
		width: auto;
		margin: 0 auto;
		padding: 0;

    .h5p-agamotto-title {
			margin-left: auto;
			margin-right: auto;
			overflow-y: auto;
			width: auto;
		}

    .h5p-agamotto-images-container {
			background: black;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			position: relative;
		}

    .h5p-agamotto-slider-container {
			height: 36px;
			background: var(--color-slider-background);
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
	}

  .h5p-agamotto-warning {
		width: auto;
		margin: var(--h5p-theme-spacing-m);
		font-size: var(--h5p-theme-font-size-l);
		text-align: center;
	}

  .h5p-agamotto-spinner-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

  .h5p-agamotto-spinner-container.h5p-agamotto-spinner-none {
		display: none;
	}

  .h5p-agamotto-image-top {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

  .h5p-agamotto-image-bottom {
		position: absolute;
		width: 100%;
	}

  .h5p-agamotto-descriptions-container {
		font-size: var(--h5p-theme-font-size-m);
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

  .h5p-agamotto-description-top {
		position: absolute;
		z-index: 1;
		width: 100%;
	}

  .h5p-agamotto-description-bottom {
		position: absolute;
		width: 100%;
	}

  .h5p-agamotto-visually-hidden {
		top: 0;
		left: -2px;
		width: 1px;
		height: 1px;
		position: absolute;
		overflow: hidden;
	}
}

.h5p-container:not(.h5p-fullscreen) .h5p-agamotto-slider-button.h5p-agamotto-slider-fullscreen {
	&::before {
		content: "\e93a";
	}
}

.h5p-container.h5p-fullscreen .h5p-agamotto-slider-button.h5p-agamotto-slider-fullscreen {
	&::before {
		content: "\e93b";
	}
}

.h5p-container.h5p-fullscreen {
	.h5p-question-content {
		margin: 0;
	}
}

.h5p-agamotto-spinner {
	display: inline-block;
	position: relative;
	width: 4.5em;
	height: 4.5em;
	margin-top: 1em;
	margin-bottom: 1em;

  div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 4em;
		height: 4em;
		margin: .5em;
		border: .5em solid #999;
		border-radius: 50%;
		animation: h5p-agamotto-spinner 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
		border-color: var(--color-border-spinner);
	}

  .h5p-agamotto-spinner-circle-head {
		animation-delay: -.45s;
	}

  .h5p-agamotto-spinner-circle-neck-upper {
		animation-delay: -.3s;
	}

  .h5p-agamotto-spinner-circle-neck-lower {
		animation-delay: -.15s;
	}

  .h5p-agamotto-spinner-circle-body {
		animation-delay: 0s;
	}
}

.h5p-container {
	&:not(.h5p-fullscreen) {
		.h5p-agamotto-wrapper {
			.h5p-agamotto-title {
				h2 {
					&:nth-child(1) {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.h5p-agamotto-hidden {
	visibility: hidden;
}

.h5p-agamotto-transition {
	transition: left .5s ease;
}
