/* Only used for slider in slide-handler, should be included into H5Picons */
@font-face {
  font-family: H5PInteractiveVideo;
  src: url('../fonts/H5PInteractiveVideo.eot');
  src: url('../fonts/H5PInteractiveVideo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/H5PInteractiveVideo.woff') format('woff'),
  url('../fonts/H5PInteractiveVideo.ttf') format('truetype'),
  url('../fonts/H5PInteractiveVideo.svg#H5PInteractiveVideo') format('svg');
  font-weight: normal;
  font-style: normal;
}
.h5p-agamotto {
  width: auto;
  margin: 0 auto;
  /* Will prevent flickering when sliding */
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.h5p-agamotto .h5p-agamotto-wrapper {
  width: auto;
  margin: 0 auto;
  padding: 16px 16px 0 16px;
}
.h5p-agamotto .h5p-agamotto-warning {
  width: auto;
  margin: 16px;
  font-size: 1.5em;
  text-align: center;
}
.h5p-agamotto .h5p-agamotto-wrapper .h5p-agamotto-title {
  width: auto;
  overflow-y: auto;
}
.h5p-agamotto .h5p-agamotto-wrapper .h5p-agamotto-images-container {
  position: relative;
}
.h5p-agamotto .h5p-agamotto-image-top {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.h5p-agamotto .h5p-agamotto-image-bottom {
  position: absolute;
  width: 100%;
}
.h5p-agamotto .h5p-agamotto-wrapper .h5p-agamotto-slider-container {
  height: 36px;
  background: #2c2c2c;
  position: relative;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-track {
  cursor: pointer;
  height:8px;
	background-color:#0b0d0c;
	top:14px;
	left:16px;
	position:absolute;
  z-index:1;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-track.h5p-agamotto-disabled {
  cursor: default;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-thumb {
  position: absolute;
  speak: none;
  color: #fbfbfb;
  z-index: 3;
  top: 10px;
  left: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  text-shadow: 0 0 2px #666;
  outline: none;
  border: 0;
  background: #fbfbfb;
  border-radius: 4px;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-thumb.h5p-agamotto-disabled {
  color: #dbd7d1;
  cursor: default;
}
.h5p-agamotto-transition {
  transition: left .5s ease;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-thumb:before {
  font-family: H5PInteractiveVideo;
  content: "\e001";
  font-size: 26px;
  line-height: 1;
  position: absolute;
  margin: -5px 0 0 -5px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-slider-thumb:hover:before {
  color: #dbd7d1;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-tick {
  position: absolute;
  top: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #1d5cff;
  z-index: 2;
}
.h5p-agamotto .h5p-agamotto-slider-container .h5p-agamotto-tick:hover {
  background: #3d7cff;
}
.h5p-agamotto .h5p-agamotto-descriptions-container {
  position: relative;
}
.h5p-agamotto .h5p-agamotto-description-top{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow-y: auto;
}
.h5p-agamotto .h5p-agamotto-description-bottom {
  position: absolute;
  width: 100%;
}
